{{ define "main" }} 
<head>
    <link rel="stylesheet" href="{{ "/styles/categories.css" | relURL }}">
    <link rel="stylesheet" href="/styles/futuristic-style.css">
</head>
<body>
    {{ partial "navbar.html" . }}
    {{ if eq .RelPermalink "/categories/"}} 
    <div class="categoriesList">
      {{ range $.Site.Taxonomies.categories.ByCount }}
        <a href="/categories/{{ .Name }}">
          # {{ .Name }} <small>({{ .Count }})</small>
        </a>
      {{end}}
    </div>
    {{ else }}
    <div class="list-grid">
      {{ range .Paginator.Pages }}
        <div class="listItem">
          <a href="{{ .RelPermalink }}" class="listItemTitle">
            <h1>{{ .Title }}</h1>
          </a>
          {{ if .Params.image }}
          <img src="{{ .Params.image }}" alt="{{ .Title }}" class="listItemImage" loading="lazy">
          {{ end }}
          <p class="listItemDesc">{{ .Params.description }}</p>
          <div class="listItemDetail">
            {{ if .Params.avatar }}
            <img src="{{ .Params.avatar }}" loading="lazy" alt="Author Avatar">
            {{ end }}
            <span>
              {{ range (.GetTerms "authors") }}
              <a href="{{ .Permalink }}">{{ .Name }}</a>
              {{ end }}
            </span>
            <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
          </div>
          <div class="listItemCategories">
            {{ range (.GetTerms "categories") }}
            <a class="listItemCategory" href="{{ .Permalink }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </div>
      {{ end }} 
      {{ template "_internal/pagination.html" . }}
    </div>
    {{ end }} 
    {{ partial "footer.html" . }}
</body>
{{ end }}
